@model damacana.Models.Product
@{
    ViewBag.Title = "SaveProduct";
}

<div class="alert alert-info" role="alert">
    Product Added: <b>@Model.Name</b>
</div>

<a href="@Url.Action("Index")"> Go to List </a>