@model damacana.Models.Product
@{
    ViewBag.Title = "DeleteProduct";
}

<h2>Delete Product</h2>

<div class="alert alert-success" role="alert">Product is deleted</div>
    <br />
    <nav>
        <ul class="pager">
            <li><a href="@Url.Action("Index")">Back to List</a></li>
        </ul>
    </nav>